.trends_inner {
    margin: 0;
    padding: 0;
    display: flex;
    content: "";
    background-image: url(./../../img/Trends-backgrundimg.svg);
    background-repeat: no-repeat;
    background-size: 800px 600px;
    background-position: -200px 0;
}

.trends-shop {
    margin: 0 127px 0 120px;
   h2 {
    margin: 0;
    padding: 200px 0 0 0;
    color: #5FD788;
    font-size: 50px;
   }

   button {
    margin: 20px 0 280px 0;
    padding: 12px 80px;
    border: 1px solid #5FD788;
    background-color: #5FD788;
    color: #FFFFFF;
    border-radius: 8px;
   }
}

.trends-card {
    display: flex;

    img {
        content: absolute;
    }
}

.trends-card_content {
    display: flex;

    h3 {
        margin: 17px 8px 0 15px;
        padding: 0;
        color: #1F2937;
        font-size: 20px;

    }

    a {
        margin: 0;
        padding: 2px 6px;
        border: 1px solid #5FD788;
        background-color: #5FD788;
        color: #FFFFFF;
        border-radius: 50px;
        text-decoration: none;
    }
}

.trends-card_text {
    display: flex;

    p {
        margin: 0 60px 10px 15px;
        padding: 0;
        width: 235px;
        height: 40px;
        color: #6B7280;
        font-size: 14px;
        line-height: 140%;

    }

    img {
        margin:  0;
        padding: 0;
        z-index: -1;
    }
}

.trends-card_menu {
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF4D;
    background-color: #FFFFFF4D;

}

.trends-card_spot {
    margin: 60px 0 0 830px;
    padding: 0;
    display: flex;
    list-style: none;
}

.trends-card_spot li button.active {
    width: 0px;
    height: 15px;
    margin: 0 2.5px;
    border: 1px solid #5FD788;
    background-color: #5FD788;
    border-radius: 50%;
}

.trends-card_spot li button.button {
    width: 0px;
    height: 15px;
    margin: 0 2.5px;
    border: 1px solid #9CA3AF;
    background-color: #9CA3AF;
    border-radius: 50%;
}